@import "../../assets/style/style.scss";

ion-content{
  --ion-background-color:#F2F2F2;
  ion-card, .container
  {
    @extend %ion-card;
  }
  .logo{
    border-radius: 20px;
  }
  img
  {
    margin-left: 25%;
  }

  h1
  {
    text-align: center;
    @extend %font-text;
    font-size: 25px;
    color: $title-color;
  }

  .bottom
  {
    border-bottom: 5px solid $color-secondary;
    width: 50%;
    margin-left: 25%;
  }
  .login
  {
    margin-top: 12%;
    text-align: center;
  }
  .commission{
    color: #9de1fe;
    padding-top: 40px;
  }
  .home{
    color: #9de1fe;
  }
ion-content{
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.no-scroll .scroll-content{
  overflow: hidden;
}
  .card{
    width: 200px;
    margin: fill;
  }
}

.text-danger{
  color: red;
}
}
